<div fxLayout="row wrap" class="form-group">
  <div fxFlex.gt-sm="50" class="divide">
    <mat-card>
      <mat-card-title>组织管理树</mat-card-title>
      <mat-card-content>
        <form>


        </form>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex.gt-sm="50" class="divide">
    <mat-card>
      <mat-card-title>组织管理</mat-card-title>
      <mat-card-content>
        <form>
          <div fxLayout="row" fxLayoutAlign="center center">
            <label>组织名称：</label>
            <mat-form-field fxFlex>
              <input matInput>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="center center">
            <label>组织类型：</label>
            <mat-form-field fxFlex>
              <input matInput>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="center center">
            <label>父级组织名称：</label>
            <mat-form-field fxFlex>
              <input matInput>
            </mat-form-field>
          </div>

          <mat-card-actions align="center">
            <button mat-raised-button color="primary">新增</button>
            <button mat-raised-button color="primary">修改</button>
            <button mat-raised-button color="primary">删除</button>
          </mat-card-actions>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
